html{
  background-color: #F8F9FA;
  height: 800px;
  max-width: auto;
}


h2,h3,h4,h5,h6,p,ul,li{
  font-family: 'Ubuntu', sans-serif;
  font-size: 1rem;
  text-decoration: none;
  list-style: none;
}
.fa-check{color: #43c02a;}

a {
  color: #1a1a1a!important;
  text-decoration: none!important;
}

.rightSidebar {
  max-width: 650px;
  float: right;
}

.productDescription{
  display: inline-table;
}

.containBg {
  background: #ebebeb;
  border-radius: 10px;
}

.container {
  display: flex;
  flex-wrap: wrap; /* Allow components to wrap to the next row when necessary */
  justify-content: space-between; /* Distribute components evenly */
  padding:0;
}

.proBtn button {
  padding:0!important;
  justify-content: center;
}

.btnHover:hover {
  background-color: #FEC240!important;
}


img{
  float: left;
  background-size:cover;
  background-position: center;
}

.paragraph-spacing {
  margin-bottom: 20px;
}

button.btn.btn-warning.mt-4 {
  width: 100%;
}

.heroText{
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 4rem;
}

.sectionBottom {
  padding: 0;
}

.bottomHeader{
  font-family: 'Prompt', sans-serif;
}

.fade-in-element {
  opacity: 0;
  transform: translateY(20px); /* Start with a slight translateY for a smooth effect */
  transition: opacity 0.5s, transform 0.5s;
}

.ratings{display: flex;}
.fa-star{
  font-size: 18px;
  color:#FFC107;
}

.col.text-center.bg-light.text-dark.rounded {
  margin: 1em;
}

.heroImg{
  height: 20vh;
}

.information{ align-items: normal;}

/************************ Start Footer *************************/

footer {
  background: rgb(61, 61, 61);
  background: linear-gradient(180deg, rgb(58 58 58) 0%, rgb(37 37 37) 46%, rgb(29 29 29) 100%);
}