@import 'bootstrap/dist/css/bootstrap.min.css';

/************************ Start Global *************************/

a {
  color: #1a1a1a!important;
  text-decoration: none!important;
}

h2,h3,h4,h5,h6,p,ul,li{
  font-family: 'Ubuntu', sans-serif;
  font-size: 1vw;
  text-decoration: none;
  list-style: none;
}

.col.text-center.bg-light.text-dark.rounded {
  margin: 1em;
}

.fa-check{color: #43c02a;}

/************************ End Global *************************/


.rightSidebar {
  max-width: 650px;
  float: right;
}

.productDescription{
  display: inline-table;
}

.containBg {
  background: #ebebeb;
  border-radius: 10px;
}

.heroText {
  top:3em;
  left:8em;
  position: absolute;
  transform: translate(-50%, -50%);
  font-size: 6vw;
  font-family: 'Aboreto', 'Bebas Neue', sans-serif;
  background: -webkit-linear-gradient(45deg, #d5be7d, #3f5f91, #1e3b65);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.proBtn button {
  padding:0!important;
  justify-content: center;
}

.btnHover:hover {
  background-color: #FEC240!important;
}

.paragraph-spacing {
  margin-bottom: 20px;
}

button.btn.btn-warning.mt-4 {
  width: 100%;
}

.productMoreInfo{
  color: #FFC107;
  margin-top: 1em;
  padding:.5em;
  font-size: 14px;
}
.productAvailability{
  color: #43c02a;
  margin-top: 1em;
  padding:.5em;
  font-size: 14px;
}

.sectionBottom {
  padding: 0;
}

.bottomHeader{
  font-family: 'Prompt', sans-serif;
}

.fade-in-element {
  opacity: 0;
  transform: translateY(20px);
  transition: opacity 0.5s, transform 0.5s;
}

.ratings{display: flex;}
.fa-star{
  font-size: 18px;
  color:#FFC107;
}

.heroImg{
  height: 20vh;
}

.information{ align-items: normal;}

/************************ Start About Us *************************/

.aboutUsDescription strong {
  padding-top: 2em!important;
  font-size: 2em;
  display: flex;
}
/************************ End About Us *************************/

/************************ Start Bottom Image *************************/

.midSectionImg{position: absolute;}

.btmImageText{
}



/************************ Start Footer *************************/

footer {
  background: rgb(61, 61, 61);
  background: linear-gradient(180deg, rgb(58 58 58) 0%, rgb(37 37 37) 46%, rgb(29 29 29) 100%);
}

/************************ Start Media Queries *************************/


/* For larger screens */
@media (max-width: 768px) {

}


/* For smaller screens like mobile */
@media (max-width: 767px) {
  .heroText {
    top: 7em;
  }
  .row.pGrid {
    display: inline;
} 
  
  .col {
    width: 100%; /* Full-width for mobile */
  }

  /* Adjust image sizes for mobile */
  img {
    max-width: 100%;
    height: auto;
  }
}